# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# tools / resources directories
/tools/
/resources/
/resources.old/

# Snakemake runtime
.snakemake/

# Pipeline outputs
/results/
/logs/
containers/
